.unreadEntryShadow {
    box-shadow: 5px 5px 3px #888;
}

th.unreadEntryGradient {
    background: -moz-linear-gradient(top,  rgba(51,51,51,0.4) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(51,51,51,0.4)), color-stop(100%,rgba(0,0,0,0)));
    background: -webkit-linear-gradient(top,  rgba(51,51,51,0.4) 0%,rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(top,  rgba(51,51,51,0.4) 0%,rgba(0,0,0,0) 100%);
    background: -ms-linear-gradient(top,  rgba(51,51,51,0.4) 0%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom,  rgba(51,51,51,0.4) 0%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66333333', endColorstr='#00000000',GradientType=0 );
    color: #0000c2;
}

#cellItem {
	padding: 0;
	margin-bottom: 10px;
}

caption {
	padding: 0 0 5px 0;
	font: italic 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	text-align: right;
}

.commentEntryTable {
        border-style:solid;
        border-color:white;
        border-top-color:#dedede;
        border-left-color:#dedede;
}

.commentEntryTitle {
        font: bold 12px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
        text-shadow: 0px 2px 3px #666;
}


th {
	font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #4f6b72;
	border-right: 1px solid #dedede;
	border-bottom: 1px solid #dedede;
	border-top: 1px solid #dedede;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: left;
	padding: 6px 6px 6px 12px;
	background: #cccccc no-repeat;
}

th.nobg {
	border-top: 0;
	border-left: 0;
	border-right: 1px solid #dedede;
	background: none;
}

th.coloring {
    width: 2px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
	letter-spacing: 0px;
    padding: 0px 0px 0px 0px;
}

.tableitem_td {
	border-right: 1px solid #dedede;
	border-bottom: 1px solid #dedede;
	background: #fff;
	padding: 6px 6px 6px 12px;
	color: #4f6b72;
}


.tableitem_td.alt {
	background: #F5FAFA;
	color: #797268;
}

th.spec {
	border-left: 1px solid #dedede;
	border-top: 0;
	background: #fff url(../cellStyleItem/bullet1.gif) no-repeat;
	font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}

th.specalt {
	border-left: 1px solid #dedede;
	border-top: 0;
	background: #f5fafa url(../cellStyleItem/bullet2.gif) no-repeat;
	font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #797268;
}

th.unreadSpec {
    border-left: 0;
    border-top: 0;
	border-right: 1px solid #dedede;
    background: #fff url(../cellStyleItem/bullet3.gif) no-repeat;
}
