.menu{
    position: relative;
    top:0;
    left:0;
    width:100%;
    font:14px/27px Arial,sans-serif;
    height:30px;
    background: rgb(226,226,226); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(142,142,142,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,226,226,1)), color-stop(100%,rgba(142,142,142,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%,rgba(142,142,142,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(226,226,226,1) 0%,rgba(142,142,142,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(226,226,226,1) 0%,rgba(142,142,142,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(226,226,226,1) 0%,rgba(142,142,142,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#8e8e8e',GradientType=0 ); /* IE6-9 */
}
.menu a:hover{
    background-color: #a6a6a6;
    color: #dddddd;
}
.menu a{
    text-decoration:none;
    padding:6px 8px 7px;
    outline:none;
}
.menu ul{
    list-style:none;
    margin:0;
    padding:0 0 0 10px;
}
.menu ul li{
    padding:0;
    float:left;
}
.menu ul li ul li{
    padding:0;
    float:none;
    margin:0 0 0 0px;
    width:100%;
}
.menu ul li ul{
    position:absolute;
    border:1px solid #C3D1EC;
    /*box-shadow*/
    -webkit-box-shadow:0 1px 5px #CCCCCC;
    -moz-box-shadow:0 1px 5px #CCCCCC;
    box-shadow:0 1px 5px #CCCCCC;
    margin-top:-1px;
    display:none;
    padding:0px 16px 0px 0;
}
.active ul{
    display:block !important;
}
.single ul{
    display:block !important;
}
.active a{
    background-color:white;
    border:1px solid #C3D1EC;
    border-bottom:0;
    /*box-shadow*/
    -webkit-box-shadow:0 -1px 5px #CCCCCC;
    -moz-box-shadow:0 -1px 5px #CCCCCC;
    box-shadow:0 -1px 5px #CCCCCC;
    display:block;
    height:29px;
    padding:0 8px 0 8px;
    position:relative;
    z-index:1;
    color: #ffffff;
}
/*Styling for the link of the current page*/
.current a{
    border-top:2px solid #3f3f3f;/*red ribbon at top*/
    border-bottom:0;
    display:block;
    height:15px;
    padding:0 5px 0 5px;
    position:relative;
    z-index:1;
    color:#FFFFFF;
}
.active a:hover{
    background-color:white;
    font-style: inherit;
}
.active ul li a:hover{
    background-color:#e4ebf8;
}
.active ul li a{
    border:0 !important;
    /*box-shadow*/
    -webkit-box-shadow:0 0 0 #CCCCCC;
    -moz-box-shadow:0 0 0 #CCCCCC;
    box-shadow:0 0 0 #CCCCCC;
    border:0;
    width:100%;
}
.arrow{
    border-color:#C0C0C0 transparent white;
    border-style:solid dashed dashed;
    margin-left:5px;
    position:relative;
    top:10px;
}
.mid-line{
    background-color:#FFF;
    border-top:1px solid #e5e5e5;
    font-size:0;
}
.last {
    margin: 0 5px;
    padding: 0 0 8px;
    float: right;
    position: absolute;
    right: 0; /* Fit the entry right next to the end. */
    list-style: none;
}