.error {
    background-color: #e9e8e7;
    border: 1px solid #333;
    color: #fff;
    font-weight: bold;
    box-shadow: 3px 3px 2px #888;
}

.message {
    background-color: #e9e8e7;
    border: 1px solid #333;
    color: #fff;
    font-weight: bold;
    box-shadow: 3px 3px 2px #888;
}

.error {
    color: rgba(198, 3, 7, 0.74);
}

.message {
    color: rgba(0, 112, 0, 0.72);
}

.message p {
    margin: 0;
    padding: 5px 10px;
}

.error p {
    margin: 0;
    padding: 5px 10px;
}

.error a.close {
    float: right;
    text-decoration: none;
    font-weight: bold;
    color: #333;
    background-color: #fff;
    border-left: 1px solid #333;
    border-bottom: 1px solid #333;
    padding: 0 4px;
    margin-left: 5px;
}

.message a.close {
    float: right;
    text-decoration: none;
    font-weight: bold;
    color: #333;
    background-color: #fff;
    border-left: 1px solid #333;
    border-bottom: 1px solid #333;
    padding: 0 4px;
    margin-left: 5px;
}

.error a.close:hover {
    cursor: pointer;
}

.message a.close:hover {
    cursor: pointer;
}


.validation-error {
    border: 1px solid red;
    background: white url(../cellStyleItem/25-weather.png) no-repeat left center;
    padding-left: 15px !important;
    background-size:10px 10px;
}
