.cellListWidget {	
}

.cellListEvenItem {
	cursor: pointer;
	zoom: 1;
	margin-bottom: 15px;
/* 	background: literal("-moz-linear-gradient(left, #e6e6e6, #fff)"); */
/* 	background: literal("-webkit-gradient(linear, left center, right center, from(#e6e6e6),	to(#fff) )"); */
}

.cellListOddItem {
	cursor: pointer;
	zoom: 1;
	margin-bottom: 15px;
/* 	background: literal("-moz-linear-gradient(left, #f7f7f7, #fff)"); */
/* 	background: literal("-webkit-gradient(linear, left center, right center, from(#f7f7f7),	to(#fff) )"); */
}

.cellListKeyboardSelectedItem {
}

@sprite .cellListSelectedItem {
	gwt-image: 'cellListSelectedBackground';
	background-color: #628cd5;
	color: white;
	height: auto;
	overflow: visible;
}