/usr/bin/curl -v -u <%= @user_name %>:<%= @password %> 127.0.0.1:8091/pools/default/remoteClusters \
-d uuid=9eee38236f3bf28406920213d93981a3  \
-d name=<%= @cluster_name %> \
-d hostname=127.0.0.1:9091 \
-d username=<%= @user_name %> -d password=<%= @password %>
