/usr/bin/curl -v -X POST -u <%= @user_name %>:<%= @password %> http://127.0.0.1:8091/controller/createReplication \
-d fromBucket=<%= @bucket_name %> \
-d toCluster=<%= @cluster_name %> \
-d toBucket=<%= @index_name %> \
-d replicationType=continuous && sleep 1
