/opt/couchbase/bin/couchbase-cli bucket-create -c 127.0.0.1 \
-u Administrator -p <%= @COUCHBASE_REST_PASSWORD %> \
--bucket=<%= @BUCKET_NAME %> \
--bucket-type=couchbase \
--bucket-password=<%= @COUCHBASE_DEFAULT_BUCKET_PASSWORD %> \
--bucket-ramsize=<%= @COUCHBASE_MAX_RAM_MB_FOR_DEFAULT_BUCKET %> \
--bucket-replica=<%= @COUCHBASE_REPLICAS_FOR_DEFAULT_BUCKET %>
